@tailwind base;
@tailwind components;
@tailwind utilities;

.dot-pulse {
  position: absolute;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #157AAC;
  color: #157AAC;
  box-shadow: 9999px 0 0 -5px #157AAC;
  animation: dotPulse 1.5s infinite linear;
  animation-delay: .25s;
  margin-left: 50%;
  margin-top: 20%;
}

.dot-pulse::before, .dot-pulse::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #157AAC;
  color: #157AAC;
}

.dot-pulse::before {
  box-shadow: 9984px 0 0 -5px #157AAC;
  animation: dotPulseBefore 1.5s infinite linear;
  animation-delay: 0s;
}

.dot-pulse::after {
  box-shadow: 10014px 0 0 -5px #157AAC;
  animation: dotPulseAfter 1.5s infinite linear;
  animation-delay: .5s;
}

@keyframes dotPulseBefore {
  0% {
    box-shadow: 9984px 0 0 -5px #157AAC;
  }
  30% {
    box-shadow: 9984px 0 0 2px #157AAC;
  }
  60%,
  100% {
    box-shadow: 9984px 0 0 -5px #157AAC;
  }
}

@keyframes dotPulse {
  0% {
    box-shadow: 9999px 0 0 -5px #157AAC;
  }
  30% {
    box-shadow: 9999px 0 0 2px #157AAC;
  }
  60%,
  100% {
    box-shadow: 9999px 0 0 -5px #157AAC;
  }
}

@keyframes dotPulseAfter {
  0% {
    box-shadow: 10014px 0 0 -5px #157AAC;
  }
  30% {
    box-shadow: 10014px 0 0 2px #157AAC;
  }
  60%,
  100% {
    box-shadow: 10014px 0 0 -5px #157AAC;
  }
}
